coder:
  env:
    - name: CODER_ACCESS_URL
      value: "http://coder.app-internal.svc.cluster.local"
    - name: CODER_WILDCARD_ACCESS_URL
      value: "*.coder.app-internal.svc.cluster.local"
    - name: CODER_PG_CONNECTION_URL
      valueFrom:
        secretKeyRef:
          name: coder-db
          key: url
    - name: CODER_TELEMETRY_ENABLE
      value: "false"
    - name: CODER_OAUTH2_GITHUB_ALLOW_SIGNUPS
      value: "true"
    - name: CODER_OAUTH2_GITHUB_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: coder-github
          key: client-id
    - name: CODER_OAUTH2_GITHUB_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: coder-github
          key: client-secret
    - name: CODER_OAUTH2_GITHUB_DEFAULT_PROVIDER_ENABLE
      value: "false"
    - name: CODER_OAUTH2_GITHUB_ALLOW_EVERYONE
      value: "true"

  readinessProbe:
    httpGet:
      path: /healthz
      port: "http"
      scheme: "HTTP"
  livenessProbe:
    httpGet:
      path: /healthz
      port: "http"
      scheme: "HTTP"

  image:
    tag: "latest"
    pullPolicy: IfNotPresent

  replicaCount: 1

  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "2Gi"
      cpu: "2000m"

  service:
    enable: true
    type: ClusterIP
    sessionAffinity: ClientIP
    ports:
      - port: 80 # ← HTTPRoute connects here
        targetPort: 8080 # ← Pod listens here
        protocol: TCP

  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000

  serviceAccount:
    name: "coder-svc"

ingress:
  enable: false
